.TopNav {
  list-style-type : none;
  display: inline-block;
  margin-left: 10%;
}

.MiddleNav {
  list-style-type : none;
  margin-top: 10%;
  cursor: pointer;
}

.BottomNav {
  margin-top: 10%;
}

.BottomLine {
  list-style-type : none;
  position: fixed;
  margin-top: 10%;
}

.titleH {
  text-align: center;
  margin-top: 30px;
}

.mainBox {
  margin-right: 10px;

}

.hovering {
  margin-top: 10%;
  cursor: pointer;
  background-color: blue;
}

.inline-block {
  display:inline-block;
}

.vertical-align {
  margin-left: 30%;
  text-align: center;
  vertical-align:auto;
}

.rootHeaderNav {
  float: left;
  margin-left: 15%;
}

.menuImageWrapper {
  margin: 0 auto;
  padding: 30px;
  max-width: 1170px;
}
